<template>
  <v-app>
    <Dialog/>
    <Alert/>
    <v-navigation-drawer app v-model="drawer">
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img :src="'https://randomuser.me/api/portraits/men/75.jpg'"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ user.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-btn block color="primary" class="mb-1" @click="login">
            <v-icon left>mdi-lock</v-icon>
            Login
          </v-btn>
          <v-btn block color="success" to="/register">
            <v-icon left>mdi-account</v-icon>
            Register
          </v-btn>
        </div>

        <v-divider></v-divider>
        <div v-if="!guest">
          <v-list-item v-for="(item, index) in menus"
        :key ="`menu-`+index"
        :to = item.route
        >
          <v-list-item-icon>
            <v-icon left>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>

        </v-list-item>
        </div>
        

      </v-list>

      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
            <v-icon left>mdi-lock</v-icon>
            Logout
          </v-btn>

        </div>

      </template>
    </v-navigation-drawer>

    <v-app-bar app color="red" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" ></v-app-bar-nav-icon>
      <v-toolbar-title>Pengajuan Darah</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- If using vue-router -->
        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>

    </v-main>

    <v-footer app>
      <v-col class="text-center py-1" cols="12">
        {{ new Date().getFullYear() }} — <strong>Aplikasi Pengajuan Donor Darah</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
//import HelloWorld from './components/HelloWorld';
import { mapGetters, mapActions } from "vuex"
export default {
  name: "App",
  data: () => ({ 
    //user : 'Shofari',
    //guest : false,
    drawer : false,
    menus : [
      { route : "/", icon : 'mdi-home-circle', title : 'Home' },
      { route : "/dashboard", icon : 'mdi-pencil-circle', title : 'Dashboard'},
      { route : "/pengajuan", icon : 'mdi-pencil-circle', title : 'Data Pengajuan'},
      { route : "/profile", icon : 'mdi-account-circle', title : 'Profile'},
    ]
  }),

  components: {
    Alert : () => import ('./components/Alert.vue'),
    Dialog : () => import('./components/Dialog.vue')
  },
  computed : {
    ...mapGetters({
      token : 'auth/token',
      guest : 'auth/guest',
      user : 'auth/user'
    })
  },
  methods : {
    ...mapActions({
      setAlert : 'alert/set',
      setDialogStatus : 'dialog/setStatus',
      setDialogComponent : 'dialog/setComponent',
      setToken : 'auth/setToken'
    }),
    register() {
      this.setDialogComponent({component : 'register'})
    },

    login() {
      this.setDialogComponent({component : 'login'})
      //this.guest= false
      //this.setAlert({
        //status : true,
        //color : 'success',
        //text : 'anda berhasil login'
      //})
    },
    logout() {
      const config = {
          method : "post",
          url : 'http://localhost:8000/api/auth/logout',
          headers : {
            'Authorization' : 'Bearer ' + this.token
          } 
      }

      this.axios(config)
      .then(()=> {
        this.setToken('')
        this.$router.push('/')
        this.setAlert({
        status : true,
        color : 'error',
        text : 'anda berhasil logout'
        })
      })
      .catch( error => {
        console.log(error)
      })
    }
  }

};
</script>
