<template>
    <keep-alive>
        <v-dialog v-model="dialog" fullscreen hide-overlay persistent transition="dialog-bottom-transition">
            <component :is="currentComponent" @closed="setDialogStatus" :params=dialogParams></component>
        </v-dialog>
    </keep-alive>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
    components : {
        login : () => import('./Login.vue'),
        register : () => import('./Register.vue'),
        verifikasi : () => import('./Verifikasi.vue'),
        passwordcreate : () =>import('./PasswordCreate.vue')
    },
    computed : {
        ...mapGetters({
            dialogStatus        : 'dialog/status',
            dialogParams        : 'dialog/params',
            currentComponent    : 'dialog/component'
        }),

        dialog: {
            get() {
                return this.dialogStatus
                //return true
            },
            set(value){
                this.setDialogStatus(value)
            }
        }
    },
    methods : {
        ...mapActions({
            setDialogStatus     : 'dialog/setStatus'
        })
    }
}
</script>