<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Login</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field
                v-model="email"
                label="E-Mail"
                append-icon="mdi-email">                   
                </v-text-field>
                <v-text-field
                v-model="password"
                label="Password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                counter
                @click:append="showPassword = !showPassword">
                </v-text-field>

                <div class="text-xs-center">
                    <v-btn
                    color="success lighten-1"
                    @click="submit">
                    Login
                    <v-icon>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
                <div class="mt-4">
                    <ul>
                        <li>Belum punya akun ? <v-btn color="primary" @click="register" x-small>Daftar</v-btn></li>
                        <li>Untuk verifikasi OTP klik : <v-btn color="success" @click="verifikasi" x-small>Verifikasi</v-btn></li>
                    </ul>
                </div>
            </v-form>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data(){
        return {
            email : '',
            password : '',
            showPassword : false,
            apiDomain : 'http://localhost:8000'
        }
    },
    computed : {
        ...mapGetters({
            profile : 'auth/profile'
        })
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
            setDialogComponent : 'dialog/setComponent'
        }),
        close(){
            this.$emit('closed',false)
        },
        verifikasi(){
            this.setDialogComponent({component : 'verifikasi'})
        },
        register(){
            this.close()
            this.$router.push({path : '/register'})
            //this.setDialogComponent({component : 'register'})
        },

        submit(){
            //alert('masuk method submit')
            const config = {
                method : "post",
                url : this.apiDomain+ "/api/auth/login",
                data : {
                    'email' : this.email,
                    'password' : this.password
                }
            }

            this.axios(config)
            .then( (response) => {
                console.log(response)
                this.setToken(response.data.token)
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Login Berhasil'
                })
                this.close()
            })
            .catch( response => {
                console.log(response)

                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Login Gagal'
                })
            })
        }
    },
}
</script>