<template>
    <v-card>
        <v-toolbar dark color="primary" text-center>
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register - Buat Password</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <h3 class="text-center">Buat Password</h3>
            <p class="text-subtitle-1">Buat password untuk akun anda</p>
            <v-form ref="form">
                <v-text-field
                v-model="password"
                label="Password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                counter
                @click:append="showPassword = !showPassword">
                </v-text-field>
                <v-text-field
                v-model="password_confirmation"
                label="Password Confirmation"
                :append-icon="showPasswordConfirmation ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPasswordConfirmation ? 'text' : 'password'"
                counter
                @click:append="showPasswordConfirmation = !showPasswordConfirmation">
                </v-text-field>

                <div class="text-xs-center">
                    <v-btn
                    color="primary lighten-1"
                    @click="submit">
                    Simpan
                    <v-icon>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
            </v-form>
            <div class="mt-4">
                <ul>
                    <li>Sudah punya akun ? <v-btn color="primary" @click="login" x-small>Login</v-btn></li>
                    <li>Untuk verifikasi OTP klik : <v-btn color="success" @click="verifikasi" x-small>Verifikasi</v-btn></li>
                </ul>
            </div>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
    data(){
        return {
            password : '',
            showPassword : false,
            password_confirmation : '',
            showPasswordConfirmation : false,
            apiDomain : 'http://localhost:8000'
        }
    },
    computed : {
        ...mapGetters({
            params : 'dialog/params'
        })
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
            setDialogComponent : 'dialog/setComponent'
        }),
        close(){
            this.$emit('closed',false)
        },
        login(){
            this.setDialogComponent({component : 'login'})
        },
        verifikasi(){
            this.setDialogComponent({component : 'verifikasi'})
        },

        submit(){
            //alert('masuk method submit')
            const config = {
                method : "post",
                url : this.apiDomain+ "/api/auth/update-password",
                data : {
                    'email' : this.params.email,
                    'password' : this.password,
                    'password_confirmation' : this.password_confirmation
                }
            }

            this.axios(config)
            .then( response => {
                console.log(response.data)
                //this.setToken(response.data.access_token)
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Set Password berhasil'
                })
                this.close()
                this.setDialogComponent({component: 'login'})
            })
            .catch( response => {
                console.log(response)

                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Set Password Gagal'
                })
            })
        }
    },
}
</script>