<template>
     <v-card class="mt-3">
         <v-toolbar color="light-blue" dark>
             <v-card-title>{{ title }}
            </v-card-title>
            <v-btn v-if="!dashboard"
                  color="pink"
                  fab
                  dark
                  absolute
                  bottom
                  right
                  @click="pengajuanbaru"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
         </v-toolbar>
            <v-divider></v-divider>
            <v-card-text>
                <v-simple-table>
                    <thead>
                        <tr>
                            <td>No</td>
                            <td>Tanggal</td>
                            <td>Status</td>
                            <td>Aksi</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(value, index) of pengajuan" :key='index'>
                            <td>{{ index + 1 }}</td>
                            <td>{{value.created_at}}</td>
                            <td>{{value.status}}</td>
                            <td><v-btn color="success" :to="'/pengajuan/'+value.id" small>Detail</v-btn></td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </v-card-text>
        </v-card>
</template>
<script>
export default {
    props : ['pengajuan','title','dashboard'],
    methods : {
        pengajuanbaru(){
            this.$emit('pengajuanbaru')
        }
    }
}
</script>