<template>
    <v-card>
        <v-toolbar dark color="primary" text-center>
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <h3 class="text-center">Register Akun</h3>
            <p class="text-subtitle-1">Daftarkan diri dan instansi anda untuk dapat melakukan pengajuan donor darah</p>
            <v-form ref="form">
                <v-text-field
                v-model="email"
                label="E-Mail"
                append-icon="mdi-email">                   
                </v-text-field>
                <v-text-field
                v-model="password"
                label="Password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                counter
                @click:append="showPassword = !showPassword">
                </v-text-field>
                <v-text-field
                v-model="phone"
                label="No. Telp"
                append-icon="mdi-phone">                   
                </v-text-field>
                
                <v-text-field
                v-model="instansi"
                label="Instansi"
                append-icon="mdi-office">                   
                </v-text-field>
                <v-text-field
                v-model="phone_instansi"
                label="No. Telp Instansi"
                append-icon="mdi-phone">                   
                </v-text-field>


                <div class="text-xs-center">
                    <v-btn
                    color="primary lighten-1"
                    @click="submit">
                    Daftar
                    <v-icon>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
            </v-form>
            <div class="mt-4">
                <ul>
                    <li>Sudah punya akun ? <v-btn color="primary" @click="login" x-small>Login</v-btn></li>
                    <li>Untuk verifikasi OTP klik : <v-btn color="success" @click="verifikasi" x-small>Verifikasi</v-btn></li>

                </ul>
            </div>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    data(){
        return {
            email : '',
            password : '',
            showPassword : false,
            apiDomain : 'https://demo-api-vue.sanbercloud.com'
        }
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
            setDialogComponent : 'dialog/setComponent'
        }),
        close(){
            this.$emit('closed',false)
        },
        login(){
            this.setDialogComponent({component : 'login'})
        },
        verifikasi(){
            this.setDialogComponent({component : 'verifikasi'})
        },

        submit(){
            //alert('masuk method submit')
            const config = {
                method : "post",
                url : this.apiDomain+ "/api/v2/auth/login",
                data : {
                    'email' : this.email,
                    'password' : this.password
                }
            }

            this.axios(config)
            .then( response => {
                //console.log(response.data)
                this.setToken(response.data.access_token)
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Login Berhasil'
                })
                this.close()
            })
            .catch( response => {
                console.log(response)

                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Login Gagal'
                })
            })
        }
    },
}
</script>