<template>
    <v-card class="mt-3">
                <v-btn @click="update" text><v-icon>mdi-reload</v-icon></v-btn>
            <v-card-title>Update Stok Labu Darah</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-simple-table>
                    <thead>
                        <tr>
                            <td>No.</td>
                            <td>Golongan Darah</td>
                            <td>Stok</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="value in darah" :key="value.id">
                            <td>{{i++}}</td>
                            <td>{{value.golongan}}</td>
                            <td>{{value.stock}}</td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </v-card-text>
        </v-card>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
//import Vue from 'vue';

export default {
    data : () => ({
        i : 1,
    }),
    computed : {
        ...mapGetters({
            darah : 'darah/darah'
        })
    },
    methods : {
        ...mapActions ({
            fetchDarah : 'darah/fetchDarah'
        }),
        update(){
            this.fetchDarah()
        }
    },
    created(){
        this.fetchDarah
        //this.time = setInterval(this.fetchDarah, 10*1000)
    }
    
}
</script>