<template>
    <v-card>
        <v-toolbar dark color="success">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Verifikasi OTP</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <div class="ma-auto position-relative" style="max-width: 500px">
                    <h3 class="text-center">Verifikasi Kode OTP</h3>
                    <p class="text-subtitle-1">Masukan kode OTP yang sudah kami kirimkan ke alamat email yang anda daftarkan</p>
                
                <div class="text-xs-center mx-auto position-relative" style="max-width: 300px">
                    <v-otp-input
                length="6" v-model="otpcode"
                ></v-otp-input>
                </div>
                <div class="text-xs-center text-center">
                    <v-btn
                    color="success lighten-1"
                    @click="submit">
                    Verifikasi
                    <v-icon>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
                </div>
            </v-form>
                <div class="mx-auto position-relative my-5" style="max-width: 500px">
                    <ul>
                        <li>Belum punya akun ? <v-btn color="primary" @click="register" x-small>Daftar</v-btn></li>
                        <li>Sudah punya akun ? <v-btn color="primary" @click="login" x-small>Login</v-btn></li>
                    </ul>
                </div>
        </v-container>
    </v-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    data : () => ({
        otpcode : '',
        apiDomain : 'http://localhost:8000'
    }),
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken',
            setDialogComponent : 'dialog/setComponent'
        }),
        close(){
            this.$emit('closed',false)
        },
        login(){
            this.setDialogComponent({component : 'login'})
        },
        register(){
            //this.setDialogComponent({component : 'register'})
            this.$router.push({path : "/register"})
        },

        submit(){
            //alert('masuk method submit')
            const config = {
                method : "post",
                url : this.apiDomain+ "/api/auth/verification",
                data : {
                    'otp' : this.otpcode
                }
            }

            this.axios(config)
            .then( response => {
                console.log(response.data)
                //this.setToken(response.data.access_token)
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Verifikasi Berhasil'
                })
                this.close()
                this.setDialogComponent({component : 'passwordcreate', params : {email : response.data.data.email}})
            })
            .catch( response => {
                console.log(response)

                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'verifikasi Gagal'
                })
            })
        }
    },
}
</script>