<template>
    <div>
        <v-card class="p-0">
            <v-card-title>Profile</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-row>
                    <v-col class="col-3">Nama</v-col>
                    <v-col class="col-1">:</v-col>
                    <v-col class="col-8">{{profile.nama}}</v-col>
                </v-row>
                <v-row>
                    <v-col class="col-3">Instansi</v-col>
                    <v-col class="col-1">:</v-col>
                    <v-col class="col-8">{{profile.instansi}}</v-col>
                </v-row>
                <v-row>
                    <v-col class="col-3">Alamant Instansi</v-col>
                    <v-col class="col-1">:</v-col>
                    <v-col class="col-8">{{profile.alamat_instansi}}</v-col>
                </v-row>
                <v-row>
                    <v-col class="col-3">No. Telp Instansi</v-col>
                    <v-col class="col-1">:</v-col>
                    <v-col class="col-8">{{profile.phone_instansi}}</v-col>
                </v-row>
            </v-card-text>
        </v-card>
        <pengajuan-list :pengajuan="pengajuan" :title="titlecard" :dashboard="true"></pengajuan-list>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import PengajuanList from '../components/PengajuanList.vue';

export default {
    data : () => ({
        pengajuan: [],
        titlecard : 'Riwayat Pengajuan Terakhir'
    }),
    components : {
        'pengajuan-list' : PengajuanList
    },
    computed : {
        ...mapGetters({
            profile : 'auth/profile',
            token : 'auth/token'
        })
    },
    methods : {
        go(){
            const config = {
                method : 'get',
                url : 'http://localhost:8000/api/permintaan/',
                headers : {
                    'Authorization' : 'Bearer ' + this.token
                },
            }

            this.axios(config)
            .then(response => {
                let {data} = response.data
                this.pengajuan = data
                //console.log(response)
            })
            .catch (error => {
                console.log(error)
            })
        },
    },
    created(){
        this.go()
    }
}
</script>