<template>
    <div>
        <pengajuan-list :pengajuan="pengajuan" :title="titlecard" @pengajuanbaru="pengajuanbaru" :dashboard="false"></pengajuan-list>
        <v-dialog 
        v-model="dialogTambah"
        width="600"
        >
        <v-card>
            <v-toolbar color="primary" dark>
                <v-btn @click="close" text><v-icon>mdi-close</v-icon></v-btn>
                <v-card-title>
                Pengajuan Baru</v-card-title>
            </v-toolbar>
            <v-card-text class="mt-4">
                <v-row>
                    <v-col class="col-3">
                        Nama
                    </v-col>
                    <v-col class="col-1">
                        :
                    </v-col>
                    <v-col class="col-8">
                        {{profile.nama ? profile.nama : ''}}
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="col-3">
                        Instansi
                    </v-col>
                    <v-col class="col-1">
                        :
                    </v-col>
                    <v-col class="col-8">
                        {{profile.instansi}}
                    </v-col>
                </v-row>
                <v-row v-if="pengajuanDarah.length">
                    <v-col cols="12">
                        <v-simple-table dense>
                            <thead>
                                <tr>
                                    <td>Golongan Darah</td>
                                    <td>Jumlah</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in pengajuanDarah" :key="item.index">
                                    <td>{{item.golongan}}</td>
                                    <td>{{item.jumlah}}</td>
                                </tr>
                            </tbody>
                        </v-simple-table>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col
                cols="12"
                sm="6"
              >
                <v-select
                v-model="selectGolongan"
                  :items="darah"
                  item-value="id"
                  item-text="golongan"
                  label="Golongan Darah"
                  return-object
                  required
                ></v-select>
              </v-col>
              <v-col
                cols="12"
                sm="4"
              >
                <v-text-field
                    v-model="selectStok"
                    label="Jumlah"
                    type="number">
                </v-text-field>
              </v-col>
              <v-col cols="12" sm="2">
                    <v-btn color="primary"  @click="tambahdarah"><v-icon>mdi-plus</v-icon></v-btn>
              </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12">
                        <v-btn color="primary" @click="ajukan">Selesai</v-btn>
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
        </v-dialog>
    </div>
</template>
<script>
import PengajuanList from '../components/PengajuanList.vue';
import {mapGetters, mapActions} from 'vuex'
export default {
    data : () => ({
        titlecard : "Data Pengajuan",
        pengajuan : [],
        pengajuanDarah : [],
        dialogTambah : false,
        selectGolongan : '',
        selectStok : 0
    }),
    components : {
        'pengajuan-list'    : PengajuanList
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set'
        }),
        go(){
            const config = {
                method : 'get',
                url : 'http://localhost:8000/api/permintaan',
                headers : {
                    'Authorization' : 'Bearer ' + this.token
                },
            }

            this.axios(config)
            .then(response => {
                let {data} = response.data
                this.pengajuan = data
                //console.log(response)
            })
            .catch (error => {
                console.log(error)
            })
        },
        close(){
            this.dialogTambah = false
        },
        pengajuanbaru(){
            this.dialogTambah = true
        },
        tambahdarah(){
            this.pengajuanDarah.push({id : this.selectGolongan.id, jumlah : this.selectStok, golongan: this.selectGolongan.golongan})
            console.log(this.pengajuanDarah)
            this.clearForm()
        },
        clearForm(){
            this.selectGolongan = ''
            this.selectStok = 0
        },
        ajukan(){
            const config = {
                method : 'post',
                url : 'http://localhost:8000/api/permintaan',
                headers : {
                    'Authorization' : 'Bearer ' + this.token
                },
                data : {
                    'status' : 'diajukan',
                    'darah' : this.pengajuanDarah
                }
            }

            this.axios(config)
            .then(response => {
                console.log(response)
                this.setAlert({
                    'status' : true,
                    'color' : 'success',
                    'text' : 'pengajuan berhasil dibuat'
                }),
                this.go()
            })
            .catch (error => {
                console.log(error)
            })
        }
    },
    computed : {
        ...mapGetters({
            profile : 'auth/profile',
            darah : 'darah/darah',
            token : 'auth/token'
        })
    },
    created(){
        this.go()
    }
}
</script>