<template>
    <v-card>
        <v-toolbar>
            <v-card-title>Detail Pengajuan</v-card-title>
        </v-toolbar>
        <v-card-text>
            <v-simple-table>
                <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td>{{pengajuan.status}}</td>
                </tr>
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td>{{pengajuan.created_at}}</td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td>:</td>
                    <td>{{pengajuanUser.nama}}</td>
                </tr>
                <tr>
                    <td>Instansi</td>
                    <td>:</td>
                    <td>{{pengajuanUser.instansi}}</td>
                </tr>
            </v-simple-table>
            <v-divider class="my-4"></v-divider>
            <h3 class="mb-4">List Permintaan Darah</h3>
            <v-simple-table >
                <thead>
                    <tr>
                    <td>Golongan Darah</td>
                    <td>Jumlah</td>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="item in pengajuanDarah" :key="item.id">
                    <td>{{item.darah.golongan}}</td>
                    <td>{{item.jumlah}}</td>
                </tr>
                </tbody>
                
            </v-simple-table>
            <v-btn v-if="user.role_id == admin" block @click="setujui" color="primary">Setujui</v-btn>
        </v-card-text>
    </v-card>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    data : () => ({
        pengajuan : {},
        pengajuanUser : {},
        pengajuanDarah : [],
        admin : 'e0cf7c5a-7d08-4e11-bd6d-06fc8a355351' 
    }),
    computed : {
        ...mapGetters({
            profile : 'auth/profile',
            token : 'auth/token',
            user: 'auth/user'
        })
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set'
        }),
        go(){
            let { id } = this.$route.params;
            const config = {
                method : 'get',
                url : `http://localhost:8000/api/permintaan/${id}`,
                headers : {
                    'Authorization' : 'Bearer ' + this.token
                },

            }

            this.axios(config)
            .then((response)=>{
                this.pengajuan = response.data.pengajuan
                this.pengajuanUser = response.data.user 
                let {darah} = response.data
                this.pengajuanDarah = darah 
                console.log(response)
            })
            .catch(error => {
                console.log(error)
            })
        },
        setujui(){
            let { id } = this.$route.params;
            const config = {
                method : 'put',
                url : `http://localhost:8000/api/permintaan/${id}`,
                headers : {
                    'Authorization' : 'Bearer ' + this.token
                },
                data : {
                    'status' : 'disetujui'
                }
            }

            this.axios(config)
            .then((response)=>{
                this.pengajuan = response.data.pengajuan
                this.pengajuanUser = response.data.user 
                let {darah} = response.data
                this.pengajuanDarah = darah 
                console.log(response)
                this.setAlert({
                    'status' : true,
                    'color' : 'success',
                    'text' : 'Berhasil disetujui'
                }),
                this.go()
            })
            .catch(error => {
                console.log(error)
            })
        }
    },
    created(){
        this.go()
    }
}
</script>
