<template>
<v-row>
    <v-col cols="6" lg="6" sm="12"><stock-darah></stock-darah></v-col>
    <v-col cols="6" lg="6" sm="12">
        <v-card class="mt-3">
            <v-card-title>
                Selamat Datang
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text v-if="guest">
                <p>Aplikasi ini di buat untuk memudahkan instansi instansi yang membutukan donor darah untuk membuat pengajuan kebutuhan donor darah</p>
                <p>Untuk dapat menggunakan aplikasi anda perlu memiliki akun yang bisa didapatkan dengan mendaftar pada link berikut : </p>
                <v-btn to="/register"  color="primary" class="mb-5">Register</v-btn>
                <p>Jika anda sudah memiliki akun anda dapat login untuk mengajukan permintaan</p>
                <v-btn @click="login" color="success" class="mb-5">Login</v-btn>
                <p>Jika anda sudah daftar namun belum melakukan verifikasi klik link berikut untuk verifikasi</p>
                <v-btn @click="login" color="warning" class="mb-5">Verifikasi</v-btn>
            </v-card-text>
            <v-card-text v-if="!guest">
                <h2>Selamat Datang {{user.name}}</h2>
                <p>Aplikasi ini di buat untuk memudahkan instansi instansi yang membutukan donor darah untuk membuat pengajuan kebutuhan donor darah</p>
            </v-card-text>
        </v-card>
    </v-col>
</v-row>
</template>

<script>
//import StockDarah from '../components/StockDarah.vue'
import {mapGetters, mapActions} from 'vuex';

export default {
    data: () => ({
        apiDomain : 'http://localhost:8000',
    }),
    components : {
        'stock-darah' : () => import('../components/StockDarah.vue')
    },
    computed : {
        ...mapGetters({
            darah : 'darah/darah',
            guest : 'auth/guest',
            user : 'auth/user'
        }),
    },
    methods : {
        ...mapActions({
            setDarah : 'darah/set',
            setDialogComponent : 'dialog/setComponent'

        }),
        go(){
            
        },
        update(){
        },
        login(){
            this.setDialogComponent({component : 'login'})
        }
    },
    created(){
        this.go()
        //this.timer = setInterval(this.go, 5000);  
    },
}
</script>