<template>
    <v-container fluid>
        <v-card>
            <v-card-title>Profile</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-form>
                    <h4>Data Pribadi</h4>

                    <v-text-field
                    v-model="nama"
                    label="Nama Lengkap"
                    append-icon="mdi-account">
                    </v-text-field>
                     <v-text-field
                    v-model="phone"
                    label="No. Telp"
                    append-icon="mdi-phone">
                    </v-text-field>
                    <v-textarea
                    v-model="alamat"
                    label="Alamat"
                    placeholder="Alamat Pribadi">
                    </v-textarea>

                    <v-divider></v-divider>
                    <div class="my-3">
                        <h4>Data Instansi</h4>
                    </div>

                     <v-text-field
                    v-model="instansi"
                    label="Instansi"
                    append-icon="mdi-city">
                    </v-text-field>
                     <v-text-field
                    v-model="phone_instansi"
                    label="No. Telp Instansi"
                    append-icon="mdi-phone">
                    </v-text-field>
                    <v-textarea
                    v-model="alamat_instansi"
                    label="Alamat Instansi"
                    placeholder="Alamat Instansi">
                    </v-textarea>

                    <div class="text-xs-center" v-if="buttonStatus == 'submit'">
                    <v-btn
                    color="primary lighten-1"
                    @click="submit">
                    Simpan
                    <v-icon>mdi-lock-open</v-icon>
                    </v-btn>
                    </div>
                    <div class="text-xs-center" v-if="buttonStatus == 'update'">
                    <v-btn
                    color="primary lighten-1"
                    @click="update">
                    Update
                    <v-icon>mdi-lock-open</v-icon>
                    </v-btn>
                    </div>
                </v-form>
            </v-card-text>
        </v-card>
    </v-container>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'

export default {
    data : () => ({
        nama : '',
        phone : '',
        alamat : '',
        instansi : '',
        phone_instansi : '',
        alamat_instansi : '',
        buttonStatus : 'submit'
    }),
    computed : {
        ...mapGetters({
            profile : 'auth/profile',
            user : 'auth/user',
            token : 'auth/token'
        })
    },
    methods : {
        ...mapActions({
            checkToken : 'auth/checkToken',
            setAlert : 'alert/set'
        }),
        go(){
            this.checkToken(this.token)
            this.nama = this.user.name
            if(Object.keys(this.profile).length !== 0){
                this.phone = this.profile.phone
                this.alamat = this.profile.alamat
                this.instansi = this.profile.instansi
                this.phone_instansi = this.profile.phone_instansi
                this.alamat_instansi = this.profile.alamat_instansi
                this.buttonStatus = 'update'
            }
        },

        submit(){
            const config = {
                method : "post",
                url : 'http://localhost:8000/api/profile',
                data : {
                    'nama' : this.nama,
                    'phone' : this.phone,
                    'alamat' : this.alamat,
                    'instansi' : this.instansi,
                    'phone_instansi' : this.phone_instansi,
                    'alamat_instansi' : this.alamat_instansi
                },
                headers : {
                    'Authorization' : 'Bearer ' + this.token
                }
            }
            this.axios(config)
            .then(response => {
                this.checkToken(this.token)
                this.setAlert({
                    status : true,
                    color : "success",
                    text : "Profile berhasil disimpan"
                })
                this.buttonStatus = 'update'
                console.log(response)
            })
            .catch(error => {
                console.log(error)
            })
        },
        update(){
            const config = {
                method : "put",
                url : 'http://localhost:8000/api/profile/' + this.profile.id ,
                data : {
                    'nama' : this.nama,
                    'phone' : this.phone,
                    'alamat' : this.alamat,
                    'instansi' : this.instansi,
                    'phone_instansi' : this.phone_instansi,
                    'alamat_instansi' : this.alamat_instansi
                },
                headers : {
                    'Authorization' : 'Bearer ' + this.token
                },
                //params : { _method : "PUT" }
            }
            this.axios(config)
            .then(response => {
                this.checkToken(this.token)
                this.setAlert({
                    status : true,
                    color : "success",
                    text : "Profile berhasil diupdate"
                })
                console.log(response)
            })
            .catch(error => {
                console.log(error)
            })
        }
    },
    created(){
        this.go()
        console.log(this.user.name)
        console.log(this.nama)
    }
}
</script>