<template>
    <v-container fluid>
        <div class="ma-auto pa-2 position-relative" style="max-width: 600px">
        <v-card class="pa-4">
            <h3 class="text-center">Register Akun</h3>
            <p class="text-subtitle-1">Daftarkan diri dan instansi anda untuk dapat melakukan pengajuan donor darah</p>
            <v-form ref="form">
                <v-text-field
                v-model="name"
                label="Nama"
                append-icon="mdi-account">                   
                </v-text-field>

                <v-text-field
                v-model="email"
                label="E-Mail"
                append-icon="mdi-email">                   
                </v-text-field>

                <div class="text-xs-center">
                    <v-btn
                    color="primary lighten-1"
                    @click="submit">
                    Daftar
                    <v-icon>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
            </v-form>
            <div class="mt-4">
                <ul>
                    <li>Sudah punya akun ? <v-btn color="primary" @click="login" x-small>Login</v-btn></li>
                    <li>Untuk verifikasi OTP klik : <v-btn color="success" @click="verifikasi" x-small>Verifikasi</v-btn></li>

                </ul>
            </div>
        </v-card>
        </div>
        </v-container>
</template>

<script>
import { mapActions } from "vuex"

export default ({
    data : () => ({
        email : '',
        name : '',
    }),

    methods :  {
        ...mapActions({
            setDialogComponent : 'dialog/setComponent',
            setAlert : 'alert/set'
        }),
        submit(){
            const config = {
                method : "post",
                url : 'http://localhost:8000/api/auth/register',
                data : {
                    'email' : this.email,
                    'name' : this.name
                }
            }

            this.axios(config)
            .then( response => {
                console.log(response)
                this.setAlert({
                    status: true,
                    color: "success",
                    text : "Pendaftaran berhasil"
                })
                this.verifikasi()
            })
            .catch( error => {
                console.log(error)
                this.setAlert({
                    status : true,
                    color: "error",
                    text : "terjadi kesalahan"
                })
            })
        },

        login(){
            this.setDialogComponent({component : 'login'})
            this.$router.push({path : "/"})
        },
        verifikasi(){
            this.setDialogComponent({component : 'verifikasi'})
            this.$router.push({path : "/"})
        }
    }
})
</script>